//SCSS

$skew: skewY(-7.5deg);
$accent-color: rgb(41, 49, 247);
$background-image: url(background.jpg);
$accent-font: "Josefin sans", sans-serif;

@mixin title {
  font-family: Anton, sans-serif;
  font-weight: 700;
  transform: $skew;
  color: $accent-color;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 2px 2px #fff;
}

@mixin title-font {
font-family: Anton, sans-serif;
letter-spacing: 0.1em;
}

//Basics /////////////////////////////////////////////////////////
*{
  box-sizing: border-box;
}

body {

 min-height: 100%; /* will cover the 100% of viewport */
 display: block;
 margin: 0;
 background-image: $background-image;
 background-size: cover;
}

h1 {
  @include title;
  font-weight: 400;
  transform: none;
  padding-bottom: 20px;


}

intro-subtitle {
  text-shadow: 0;
  text-decoration: none;
}


li > a {
  color: #000;
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: black;

  &:hover{ text-decoration:none;
  }
}
//Components/////////////////////////////////////////////////////////


//Header////////////////////////////////////////////////////////////

header {
  height: 70px;

}

.logo {
  @include title;
  font-size: 2.5em;
  line-height: 1.4;

  &:hover {
    color:rgb(15, 33, 153);

  }
}

.top-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //height: 5em;
  padding: 1em;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content: center;
  padding-top: 10px;
}

.nav-item {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1em;
    font-family: $accent-font;

}

.nav-item a {
  padding: 10px;

  &:hover {
    cursor: pointer;
    color: $accent-color;
    background-color: white;
    //border-radius: 2px;
    border-bottom: 2px solid $accent-color;
    text-decoration: none;
  }
}
//main///////////////////////////////////////////////////////////
.homepage-main {
  display: grid;
  grid-template-rows: 3fr, 1fr;
  padding-top: 100px;
  height: calc(100vh - 140px);
}

.intro {
  padding-top: 20px;
  padding-bottom: 30px;
}

.intro-title {
  @include title;
  font-size: 6rem;
  text-align: center;
  padding-bottom: 5px;
}

h2.intro-subtitle {
  @include title;
  background-color: rgb(41, 49, 247);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  text-shadow: none;
 }

 .button-main {
   display: block;
   padding: 5px 10px;
   margin: 0 auto;
   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.5);
   border: 4px solid black;
   color: black;
   font-size: 2em;
   font-weight: 700;
   font-family: $accent-font;

   &:hover {
     cursor: pointer;
     background-color: white;
     border-color: $accent-color;
     color: $accent-color;
   }

   &:active {
     transform: translateY(1px);
   }

   &:focus {
     outline: none;
   }
}

//footer///////////////////////////////////////////////////////////
.footer-pages {
  height: 30px;
  width: 100%;
  // grid-row-start: 3;
  // grid-row-end: 4;
}

#footer-text {
  font-size: 0.75em;
  text-align: center;
  font-family: $accent-font;
}

//Pages//////////////////////////////////////////////////////
.body-pages {
  background: white;
}

.header-pages {
  height:180px;
  position: relative;
  background-size: cover;
  &::after {
    content: "";
    background: url(kristian-angelo-xyJZvUL4_TY-unsplash-2.jpg);
    background-size: cover ;
    opacity: 0.5;
    top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
  }
}

.main-pages {
//  height: calc(100vh - 250px);
  padding-top: 50px;
  text-align: center;
}

.galerie {
width: 70%;
margin: 0 auto;
}

.responsive-pic {
  width: 250px; /* You can set the dimensions to whatever you want */
  height: 300px;
  padding-bottom: 10px;
  object-fit: cover;
}
.button-gallery {
  @extend .button-main;
  margin-bottom: 20px;
}
.image-container {
  width: 100%;
  border-bottom: 10px solid #262626;
  margin-bottom: 20px;
}
.content-image {
  width: 250px;

}

//Table////////////////////////////////////////////////////////////
table {
  border-spacing: 1rem;
  margin: 20px auto;
}
td {
  padding: 1rem;
  text-align: left;
}

.table-head {
  background-color: #0DCCF2;
  font-size: 1.5em;
}

.table-head-continent {
  padding: 10px 0;

  background: rgba(#0dccf2, 0.38)

}

tbody tr:nth-child(odd) {
  background: #eee;
}

//Media Queries ///////////////////////////////////////////////////
@media all and (min-width: 705px) {

  .top-nav {
    flex-direction: row;
    justify-content: space-between;
  }
h1 {
  padding-bottom: 30px;
}
  .nav-item {
  padding: 2px 2px;
  font-size: 1.2rem;

}
}

@media all and (min-width: 800px) {
  .header-pages ::after {
     background-size: 32% ;
   }
 }



//Form//////////////////////////////////////////////////////////////////

.project-form {
	min-width:300px;
  max-width: 400px;
	margin: 0 auto;
	background:#fff;
	border-radius:4px;
	padding:20px;
	font-family: $accent-font;
}

.project-form ul{
	list-style:none;
	padding:0;
	margin:0;
}
.project-form li{
	display: block;
	padding: 9px;
	border:1px solid $accent-color;
	margin-bottom: 30px;
	border-radius: 3px;
}
.project-form li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.project-form li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #ooo;
	font-size: 14px;
	//overflow: hidden;
	font-family: $accent-font;
}
.project-form input[type="text"],
.project-form input[type="date"],
.project-form input[type="datetime"],
.project-form input[type="email"],
.project-form input[type="number"],
.project-form input[type="search"],
.project-form input[type="time"],
.project-form input[type="url"],
.project-form input[type="password"],
.project-form textarea,
.project-form select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Arial, sans-serif;
}



.project-form input::placeholder,
.project-form textarea::placeholder {
 color: rgb(187, 183, 183);
}
